.vertical-center {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}

h1 {
	margin: 24px 5px;
}

.messages p {
	margin: 5px 0;
}


.instantMessage {
	font-size: 10px;
	margin-left: 80px;
}

.historyMessage {
	color: #808080;
}